html, body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
body{
    background: url(img/bg.avif);
    background-size: 100vw;
}
.bo{
    width: 100%;
    height: 100%;
}

/*LOGO*/
.logo{
    height: 150px;
    width: 750px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}
.logo a{
    color:  #880808;
    font: 48px 'Wide Latin';
    
}
/*HOLDER FOR MAZE*/
.holder{
    margin: auto;
    width: 750px;
    height: 750px;
}
.ho{
    position: relative;
    margin:auto auto 0 auto;
    width: fit-content;
}
/*MAZE*/
.maze{
    height: fit-content;
    width: 100%;
    display: block;
    margin:0 auto 0 auto;
}
#canvas{
    display: block;
    background: rgba(0, 0, 0, 0.79);
}
#canvas2 {
    position: absolute;
    top: 0;
}

.svg{
    padding-left: 135px;
    padding-top: 37px;
}
#ch {
    width: 25px;
    height: 25px;
    display: none;
}
/*CONSEL-BUTTONS*/

.console{
    height: 15%;
    width: 100%;
    margin: auto;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.play, .solve, .rules, .reset{
    width: 150px;
    height: 50px;
    margin-top: 25px;
}
.play{}
.solve{}
.rules{}
.reset{}


button {
    font-family: med;
    font-size: 29px;
    color: #fff;
    background-color: #2C3E50; /* Dark Grayish Blue */
    padding: 12px 24px;
    border: 2px solid #95A5A6; /* Light Gray */
    border-radius: 25px; /* Rounder */
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
button:hover {
    background-color: #34495E; /* Slightly lighter dark grayish blue */
    color: #fff;
    border-color: #7F8C8D; /* Darker light gray */
}
button:disabled{
    background: rgba(6, 28, 48, 0.9);
    color: #7F8C8D;
}

@font-face {
    font-family: med;
    src: url(Enchant-Font/Enchant.ttf);
}
  